@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700&display=swap');

:root {
    --grandezza-galleria: 4.7vw;
    --inner-spacing: 0.47vw;
    --outer-spacing: 0.3vw;
    --border: 0.2vw solid #c00f19;

    --colore-bg: #F3F6F8;
    --colore-bg-riquadri: #F3F6F8;
}

* {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', cursive;
}

.hidden {
    display: none;
}

#dio {
    position: absolute;
    display: flex;
    width: 100%;
    height: 0;
    z-index: 10;
    background-color: red;
    transition: height 0.2s;
    overflow: hidden;
}

#dio.expanded {
    height: 8vh;
}

#dio button {
    margin: auto;
    margin-right: 2vh;
    width: 6vh;
    height: 6vh;
}

#padre {
    display: grid;
    /* place-items: stretch;
    place-content: stretch; */
    grid-template-columns: calc(var(--grandezza-galleria)*16 - 2rem) 1fr;
    /* la somma delle prime due righe deve essere 9 per forzare la galleria in formato 16x9 */
    grid-template-rows: calc(var(--grandezza-galleria)*5) calc(var(--grandezza-galleria)*4) 1fr 1fr 2vh;
    background-color: var(--colore-bg-riquadri);
    width: 100%;
    height: 100%;
    padding: var(--outer-spacing);
    box-sizing: border-box;
}

img {
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}


#galleria {
    position: relative;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--colore-bg-riquadri);
    border: var(--border);
    margin: var(--inner-spacing);
    padding: 1vw;
}

#elementi_galleria {
    position: relative;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

#elementi_galleria * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    transition: opacity 0.3s;
}

#elementi_galleria .hidden {
    display: unset;
    opacity: 0;
}

#didascaliagalleria {
    position: absolute;
    bottom: 1vw;
    width: calc(100% - 2vw);
    font-size: 2vw;
    padding: 1vw;
    margin: 0;
    /* background: linear-gradient(to top, #ffffff, #ffffff00) */
    background: #ffffffaa;
}

#didascaliagalleria p {
    margin: 0;
}

#didascaliagalleria:has(p:empty) {
    padding: 0;
}

#notizie-container {
    background-color: var(--colore-bg-riquadri);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    overflow: hidden;
    display: flex;
    align-content: center;
    margin: var(--inner-spacing);
    border: var(--border);
    padding: 0;
}

.notizie-lista {
    height: 100%;
    min-width: auto;
    display: flex;
    gap: 10vw;
    padding-right: 10vw;
    font-size: 2.5vw;
}

.notizia {
    min-width: auto;
    margin: auto;
    white-space: nowrap;
}


#meteo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    max-height: 100%;
    margin: var(--inner-spacing);
    padding: 0;
    background-color: var(--colore-bg-riquadri);
    border: var(--border);
}

#meteo * {
    font-family: 'Gabarito' !important;
    font-size: 1.3vw !important;
}

#meteo>div,
#meteo>div>div {
    height: 100%;
}

#meteo .ww_col1 {
    padding: 0.5vh !important;
}

#meteo .day-forecast {
    padding: 0.5vh !important;
}

#meteo .day-forecast .data {
    flex-direction: row !important;
}

#meteo .day-forecast .temp {
    display: flex;
    gap: 0.5vw
}

#meteo .day-forecast .temp * {
    font-size: 1.5vw !important;
}

#meteo .day-forecast svg {
    margin-top: -1.5vh;
    margin-right: 0.5vw !important;
}

#meteo svg {
    height: 2.5vw !important;
    width: 2.5vw !important;
}

#meteo .current-temp span {
    font-size: 2vw !important;
    font-weight: bold;
}

#meteo .current-conditions svg {
    height: 4vw !important;
    width: 4vw !important;
}

#meteo .ww_source {
    display: none !important;
}


#biblioteca {
    display: flex;
    flex-direction: column;
    background-color: var(--colore-bg-riquadri);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    /* per mettere l'orologio cambiare da 5 a 4 */
    grid-row-end: 5;
    padding: 1vw;
    margin: var(--inner-spacing);
    border: var(--border);
}

#titolobiblioteca {
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#immaginebiblioteca {
    flex: 1;
    margin: auto;
    min-height: 0;
    max-height: 100%;
    padding: 1vw;
    margin: 0;
}

#descrizionebiblioteca {
    font-size: 1.1vw;
    text-align: justify;
    line-height: 0.9;
    padding: 0.4vw;
    margin: 0;
}

#logo {
    background-color: var(--colore-bg-riquadri);
    grid-column-start: 2;
    grid-column-end: 3;
    border: var(--border);
    margin: var(--inner-spacing);
    padding-top: 1vw;
}

#fotologo {
    margin: 3% auto;
    display: block;
    height: 90%;
    width: auto;
    padding: 0;
}

#ora {
    background-color: #c00f19;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    border: var(--border);
    margin: var(--inner-spacing);
    padding: 0;
    border-radius: 1vw;
    justify-content: left;
    overflow: nowrap;
    white-space: nowrap;
}

#boxora {
    align-self: center;
    margin: 2.1%;
    border: 0;
    padding: 0;
}

#orologio {
    color: white;
    font-weight: bolder;
    font-size: 2.3vw;
    margin: 0;
    padding: 0;
    padding-left: 1vw;
}

#crediti {
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 1vw;
    text-align: right;
    padding-right: var(--inner-spacing);
}