#blist {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bcont {
    /* background-color: #252525; */
    display: flex;
    margin: 10px 50px 0px 20px;
    padding: 10px;
}

.b {
    flex: 1;
}

.b img {
    height: 300px;
}

.bbtncont {
    margin-left: 10px;
    display: flex;
}

.hidden {
    display:none
}