#immagine-sfondo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    height: auto;
    z-index: 0;
    mix-blend-mode: darken;
}

#main-container {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#piccolo-contenitore {
    display: flex;
    align-items: center;
    flex: 1;

}

#logo {
    width: 140px;
    height: auto;
    margin-right: 45px;
}

#rettangolo-separatore {
    height: 85px;
    width: 5px;
    border-radius: 2.5px;
    background-color: black;

}

#titolo-wow {
    margin-left: 40px;
    font-size: 55.75px;
}

#paragrafo-note {
    flex: 1;
    margin-top: 30px;
}

#pulsante-accedi {
    background-color: #cf0019;
    color: white;
    padding: 40px 70px;
    border-radius: 40px;
    font-size: 50px;
    font-weight: 700;
    box-shadow: 0 5px 15px #00000069;
    transition: all 0.2s;

}

#pulsante-accedi:hover {
    scale: 1.03;
    box-shadow: 0 7px 20px #00000080;
}