/* #sfondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(60px);
    opacity: 0.5;
}

#sfondo .blob {
    border-radius: 100%;
    position: absolute;
    width: 400px;
    height: 150px;
    translate: -50% -50%;
}

#sfondo .blob:nth-child(1) {
    background-color: #e44118;
    top: 40%;
    left: 50%;
    rotate: 30deg;
    scale: 1;
}

#sfondo .blob:nth-child(2) {
    background-color: #CF0019;
    top: 55%;
    left: 50%;
    rotate: 0deg;
    scale: 2;
}

#sfondo .blob:nth-child(3) {
    background-color: #CF0019;
    top: 50%;
    left: 40%;
    rotate: 80deg;
    scale: 1.1;
}

#sfondo .blob:nth-child(4) {
    background-color: #e2172f;
    top: 50%;
    left: 60%;
    rotate: 160deg;
    scale: 1;
} */