<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/global.css') }}">
    <title>Infopoint | Notizie</title>
  </head>
  <body>
    <h1>Modifica riquadro Notizie</h1>
    <form method="post">
      <label for="input_notizia">Aggiungi notizia:</label>
      <input type="text" id="input_notizia" name="notizia" />
    </form>
    <button onclick="location.href='/'">Indietro</button>
    <button onclick="location.href='/preview'">Conferma</button>
  </body>
  </body>
</html>
