{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/biblioteca.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='scripts/biblioteca.js') }}"></script>
{% endblock %} {% block title %}Biblioteca{% endblock %} {% block header %}Biblioteca{% endblock %}{% block content %}

<form method="post" enctype="multipart/form-data">
  <label class="text" for="copertina"> Inserisci copertina libro: </label>
  <input type="file" id="input_copertina" name="copertina" accept="image/*" /><br />
  <label class="text" for="titolo"> Inserisci titolo libro: </label>
  <input type="text" id="input_titolo" name="titolo" required /><br />
  <label class="text" for="titolo"> Inserisci descrizione libro: </label>
  <input type="text" id="input_descrizione" name="descrizione" required /><br />
  <button type="submit" id="bibliosubmit" class="btn">Invia</button>
</form>

<ul id="blist">
  {% for id in libri %}
  <li>
    <div class="bcont">
      <div class="b">
        <div><img src="{{ url_for('media', filename='biblioteca/files/' + libri[id]['img'] ) }}"></div>
        <div id="title.{{ id }}" class="text">{{ libri[id]['title'] }}</div>
        <div id="desc.{{ id }}" class="text">{{ libri[id]['descr'] }}</div>
      </div>
      <div class="bbtncont">
        <button onclick="bookshow('{{ id }}')">riutilizza</button>
        <button onclick="bookedit('{{ id }}')">modifica</button>
        <button type="button" class="hidden" id="booksave">Salva modifiche</button>
        <button type="button" class="hidden" id="bookcanc">Annulla</button>
        <button onclick="bookdel('{{ id }}')">elimina</button>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
