<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/global.css') }}">
    <title>Infopoint | Galleria</title>
  </head>
  <body>
    <h1>Modifica Galleria</h1>
    <form method="post">
      <label for="copertina"> Aggiungi foto/video: </label>
      <input type="file" id="input_galleria" name="galleria" accept="image/*" />
    </form>
    <button onclick="location.href='/'">Indietro</button>
    <button onclick="location.href='/preview'">Conferma</button>
  </body>
</html>
