{% extends "base.html" %} {% block title %}Configurazione{% endblock %} {% block header %}Configurazione Infopoint{% endblock %} {% block content %}

<button onclick="location.href='/biblioteca'">Modifica biblioteca</button><br />
<button onclick="location.href='/galleria'">Modifica galleria</button><br />
<button onclick="location.href='/notizie'">Modifica notizie</button><br />
<button onclick="location.href='/logout'">Logout</button><br>
<button onclick="location.href='/impostazioni'">Impostazioni</button>

{% endblock %}
