{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
{% endblock %}

{% block title %}Configurazione{% endblock %}
{% block header %}Configurazione Infopoint{% endblock %}

{% block content %}
<h1>Ciao, {{ user.username }}!</h1>

<div id="container-pulsanti-home">
    {% if user.galleria %}
    <a href="{{url_for('galleria')}}">Modifica galleria</a>
    {% endif %}
    {% if user.biblioteca %}
    <a href="{{url_for('biblioteca')}}">Modifica biblioteca</a>
    {% endif %}
    {% if user.notizie %}
    <a href="{{url_for('notizie')}}">Modifica notizie</a>
    {% endif %}
    {% if user.admin %}
    <a href="{{url_for('impostazioni')}}">Modifica impostazioni</a>
    <a href="{{url_for('update')}}">Aggiorna il sistema</a>
    {% endif %}
    <a href="{{url_for('logout')}}">Logout</a>
</div>
{% endblock %}