{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
{% endblock %}

{% block title %}Configurazione{% endblock %}
{% block header %}Configurazione Infopoint{% endblock %}

{% block content %}
<h1>Ciao, {{ user.name }}!</h1>

<div id="container-pulsanti-home">
    {% if user.galleria %}
    <a href="{{url_for('galleria')}}">Modifica galleria</a>
    {% endif %}
    {% if user.biblioteca %}
    <a href="{{url_for('biblioteca')}}">Modifica biblioteca</a>
    {% endif %}
    {% if user.notizie %}
    <a href="{{url_for('notizie')}}">Modifica notizie</a>
    {% endif %}
    {% if user.admin %}
    <a href="{{url_for('impostazioni')}}">Modifica impostazioni</a>
    <a href="{{url_for('update')}}">Aggiorna il sistema</a>
    {% endif %}
    <a href="{{url_for('logout')}}">Logout</a>
</div>

<div id="riquadro_archiviazione">
    <div id="titolo_archiviazione">
        <h3>Spazio di archiviazione</h3>
        <div id="archiviazione_side"><span id="archiviazione_usata">{{archiviazione_usata}}GB</span><span>/</span><span id="archiviazione_tot">{{archiviazione_totale}}GB</span></div>
    </div>
    <div id="grafico_archiviazione">
        <div id="grafico_archiviazione_usata"></div>
        <div id="grafico_archiviazione_nostra"></div>
    </div>
    <div id="archiviazione_bottom">
        <div>Utilizzato da Infopoint: <span id="archiviazione_nostra">{{archiviazione_nostra}}</span>GB</div>
        <div>Spazio disponibile: <span id="archiviazione_disponibile">{{archiviazione_disponibile}}</span>GB</div>
    </div>
</div>

<script>
    window.onload = () => {
        document.querySelector("#grafico_archiviazione_usata").style.width = "{{ (archiviazione_usata / archiviazione_totale)*100 }}%"
        document.querySelector("#grafico_archiviazione_nostra").style.width = "{{ (archiviazione_nostra / archiviazione_totale)*100 }}%"
    }
</script>
{% endblock %}