<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Infopoint Login</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles/root.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='styles/login.css')}}">
</head>

<body>
  <div id="main-container">
    <div id="piccolo-contenitore">
      <img src="{{url_for('static', filename='images/logo.png')}}" alt="Immagine Logo Gandhi" id="logo">
      <div id="rettangolo-separatore"></div>
      <h1 id="titolo-wow">Infopoint</h1>
    </div>
    <a id="pulsante-accedi" href="{{url_for('ssoredirect')}}">Accedi</a>
    <p id="paragrafo-note">L'accesso al sistema è eseguito tramite l'account Google <i>@gandhimerano.com</i></p>
    <p id="copyright">&copy; 2022-2025 Laboratorio HtS</p>
  </div>
  <img src="{{url_for('static', filename='images/grafica.png')}}" alt="Immagine di sfondo design wow" id="immagine-sfondo">
</body>

</html>