{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/news.css') }}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/news.js') }}"></script>
{% endblock %} {% block title %}Notizie{% endblock %} {% block content %}

<h1>Notizie</h1>

<form method="post">
  <div>Che sta succedendo? Aggiungi una notizia:</div>
  <textarea id="newsinput" name="text" required></textarea><br />
  <input type="submit" id="newssubmit" value="Conferma" />
</form>

<div id="newslinea"></div>

<ul id="newslist">
  {% for id in notizie %}
  <li>
    <div class="newscont">
      <div class="newstext">{{ notizie[id]['text'] }}</div>
      <div class="newsbtncont">
        <button class="newsbtn showbtn">show</button>
        <button class="newsbtn editbtn">edit</button>
        <button class="newsbtn deletebtn" onclick="newsdel('{{ id }}')">delete</button>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
