{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/news.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='scripts/news.js') }}"></script>
{% endblock %}

{% block title %}Notizie{% endblock %}
{% block header%}Notizie{% endblock %}

{% block content %}
<div id="newsform">
  <form method="post">
    <div class="text">Che sta succedendo? Aggiungi una notizia:</div>
    <textarea id="newsinput" name="text" required></textarea><br />
    <button type="submit" id="newssubmit" class="btn">Inserisci nuova</button>
    <button type="button" class="hidden" id="newssave">Salva modifiche</button>
    <button type="button" class="hidden" id="newscanc">Annulla</button>
  </form>
</div>

<div id="newslinea"></div>

<ul id="newslist">
  {% set notizie = notizie | dictsort(reverse=True) %}
  {% for id, data in notizie %}
  <li>
    <div class="newscont">
      <div class="text newstext{% if not data['active'] %} disabled{% endif %}" id="{{ id }}">{{ data['text'] }}</div>
      <div class="newsbtncont">
        <button class="newsbtn newsshowbtn" onclick="newsshow('{{ id }}')">
          <span class="material-icons" id="newsshowicon{{ id }}">{% if data['active'] %} visibility {% else %} visibility_off {% endif %}</span>
        </button>
        <button class="newsbtn newseditbtn" onclick="newsedit('{{ id }}')">
          <span class="material-icons">edit</span>
        </button>
        <button class="newsbtn newsdeletebtn" onclick="newsdel('{{ id }}')">
          <span class="material-icons">delete</span>
        </button>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}