<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/root.css') }}" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %} | Infopoint</title>
  </head>
  <body>
    <div id="content">{% block main %}{% endblock %}</div>
    <div id="footer" class="text">
      {% block footer %} &copy; Copyright 2022 Tuamamma. {% endblock %}
    </div>
  </body>
</html>
